
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/Tenant.SiteMetadata/.vs/*
library/Tenant.SiteMetadata/Tenant.SiteMetadata/bin/*
library/Tenant.SiteMetadata/Tenant.SiteMetadata/obj/*

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*