
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/Migration.Core/.vs/*
library/Migration.Core/Migration.Core/bin/*
library/Migration.Core/Migration.Core/obj/*

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*